<!DOCTYPE html>
<html>
<head>
  <title>Jibjabber</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class ="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <a href="#" class="navbar-brand">  JibJabber</a>
      <ul class="nav navbar-nav">
        <li><a href="#">All Statuses</a></li>
      </ul>

    </div>
  </div>
  <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  <div>

</body>
</html>
